<p-card [header]="user?.name">
  <ng-template pTemplate="content">
    <div class="p-grid">
      <div class="p-col">
        <p>Username: {{ user?.username }}</p>
        <p>Email: {{ user?.email }}</p>
        <p>Phone: {{ user?.phone }}</p>
        <p>Website: {{ user?.website }}</p>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col">
        <h4>Address</h4>
        <p>Street: {{ user?.address?.street }}</p>
        <p>Suite: {{ user?.address?.suite }}</p>
        <p>City: {{ user?.address?.city }}</p>
        <p>Zipcode: {{ user?.address?.zipcode }}</p>
        <p>Coordinates: {{ user?.address?.geo?.lat }}, {{ user?.address?.geo?.lng }}</p>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col">
        <h4>Company</h4>
        <p>Name: {{ user?.company?.name }}</p>
        <p>Catch Phrase: {{ user?.company?.catchPhrase }}</p>
        <p>Business: {{ user?.company?.bs }}</p>
      </div>
    </div>
  </ng-template>
</p-card>
